<h1>Словарь: {{ dictionary.name }}</h1>

<div class="cont">
    <form action="" method="post" name="create_record">
        <table class="std_table">
            <tr>
                <td>Имя</td>
                <td>Значение</td>
                <td></td>
            </tr>
            <tr>
                <td><input type="text" name="entry_name"></td>
                <td>
                    {% for i in field_types %}
                        {% if i.id == dictionary.type %}
                            {% if i.id == type.text() %}
                                <input type="text" name="entry_value">
                            {% elseif i.id == type.textarea() %}
                                <input type="text" name="entry_value">
                            {% elseif i.id == type.date() %}
                                <input type="date" name="entry_value">
                            {% elseif i.id == type.datetime() %}
                                <input type="datetime-local" name="entry_value">
                            {% elseif i.id == type.file() %}
                                <input type="file" name="entry_value">
                            {% else %}
                                <input type="text" name="entry_value">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td><button type="button" class="btn" data-event="create_entry" id="{{ dictionary.id }}">Добавить</button></td>
            </tr>
            {% if fields is not empty %}
                {% for i in fields %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.value }}</td>
                        <td><button type="button" class="btn" data-event="remove_entry" id="{{ i.id }}">Удалить</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </form>
</div>




