{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Категории</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="m-b-md"></div>
                        <div class="table-responsive">
                            <table class="table table-hover issue-tracker">
                                <tbody>
                                <tr>
                                    <td>
                                        Статус
                                    </td>
                                    <td>
                                        Название
                                    </td>
                                    <td>
                                        Родитель
                                    </td>
                                    <td>
                                        Сортировка
                                    </td>
                                    <td>Изображение</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="category-row">
                                    <td>
                                        <span style="cursor: pointer" class="category-status label label-primary">Активно</span>
                                    </td>
                                    <td style="width: 50%">
                                        <input class="form-control" name="name" style="width: 100%" type="text">
                                        <input class="form-control" name="id" type="hidden">
                                    </td>
                                    <td style="width: 10%" class="issue-info">
                                        <select class="form-control" name="parent" id="">
                                            <option value="0">Без категории</option>
                                            {% for j in category %}
                                                <option value="{{ j.id }}">{{ j.name | raw }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" name="sort" type="text" value="{{ i.sort }}">
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs save-category">Создать</a>
                                    </td>
                                    <td>
                                    </td>
                                </tr>

                                {% for i in tree %}
                                    <tr class="category-row">
                                        <td>
                                            <span style="cursor: pointer" class="category-status label {% if i.category.active %}label-primary{% else %}label-default{% endif %}">Активно</span>
                                        </td>
                                        <td style="width: 50%">
                                            <input class="form-control" name="name" style="width: 100%" type="text" value="{{ i.category.name | raw }}">
                                            <input class="form-control" name="id" type="hidden" value="{{ i.category.id }}">
                                        </td>
                                        <td></td>
                                        <td>
                                            <input class="form-control" name="sort" type="text" value="{{ i.category.sort }}">
                                        </td>
                                        <td>
                                            <form method="post" action="/category/save/image" name="image" enctype="multipart/form-data">
                                                <input type="file" name="image">
                                                <input type="hidden" name="category" value="{{ i.category.id }}">
                                            </form>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs save-category">Сохранить</a>
                                        </td>
                                        <td>
                                            <a href="/category/delete/{{ i.category.id }}" class="btn btn-danger btn-xs">Удалить</a>
                                        </td>
                                    </tr>
                                    {% if i.extend is not empty %}
                                        {% for j in i.extend %}
                                            <tr class="category-row">
                                                <td>
                                                    <span style="cursor: pointer" class="category-status label {% if j.active %}label-primary{% else %}label-default{% endif %}">Активно</span>
                                                </td>
                                                <td style="width: 50%; padding-left: 50px">
                                                    <input class="form-control" name="name" style="width: 100%" type="text" value="{{ j.name | raw }}">
                                                    <input class="form-control" name="id" type="hidden" value="{{ j.id }}">
                                                </td>
                                                <td style="" class="issue-info">
                                                    <select class="form-control" name="parent" id="">
                                                        <option value="0">Без категории</option>

                                                        {% for k in category %}
                                                            {% if j.parent_id == k.id %}
                                                                <option selected value="{{ k.id }}">{{ k.name }}</option>
                                                            {% else %}
                                                                <option value="{{ k.id }}">{{ k.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <input class="form-control" name="sort" type="text" value="{{ j.sort }}">
                                                </td>
                                                <td>
                                                    <form method="post" action="/category/save/image" name="image" enctype="multipart/form-data">
                                                        <input type="file" name="image">
                                                        <input type="hidden" name="category" value="{{ j.id }}">
                                                    </form>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-primary btn-xs save-category">Сохранить</a>
                                                </td>
                                                <td>
                                                    <a href="/category/delete/{{ j.id }}" class="btn btn-danger btn-xs">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('input[type=file]').change(e => {
            $(e.target)
                .parents('form')
                .submit();
        })
    </script>
{% endblock %}