{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <form action="/supplier/order/edit/{{ order.id }}" method="post">
                                <table class="table table-hover issue-tracker checkbox-container">
                                    <tbody>
                                    <tr>
                                        <th>Изображение</th>
                                        <th>Название</th>
                                        <th>Количество в заявке</th>
                                        <th>Количество по факту</th>
                                        <th>Нет в наличии</th>
                                        <th>Цена</th>
                                    </tr>
                                    {% for i in items %}
                                        <tr>
                                            <td><img style="max-width: 50px" src="/files/mini/{{ i.getProduct.image }}" alt=""></td>
                                            <td><a href="/product/edit/{{ i.getProduct.id }}">{{ i.getProduct.name | raw}}</a></td>
                                            <td>{{ i.cnt }}</td>
                                            <td><input class="form-control" name="fact[{{ i.getProduct.id }}]" type="text" value="{{ i.cnt }}"></td>
                                            <td><input name="avail[{{ i.getProduct.id }}]" type="checkbox" {% if i.avail == 1 %}checked{% endif %}></td>
                                            <td>{{ i.price }} р.</td>
                                        </tr>
                                    {% endfor %}
                                    <tr class="search">
                                        <td>{{ i.id }}</td>
                                        <td>
                                            <input data-id="{{ order.getSupplier.id }}" class="form-control item-search" type="text" placeholder="Добавить...">
                                            <ul class="float-list"></ul>
                                        </td>
                                        <td></td><td></td><td></td><td></td><td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-hover issue-tracker checkbox-container">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control" name="status" id="" style="width: 250px">
                                                {% for i in status %}
                                                    <option {% if order.status == i.id %}selected{% endif %} value="{{ i.id }}">{{ i.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td></td><td></td><td></td><td></td><td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% if order.status == open %}
                                                <button name="submit" type="submit" value="submit" class="btn btn-primary">Сохранить и добавить на склад</button>
                                            {% endif %}
                                        </td>
                                        <td></td><td></td><td></td><td></td><td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                            <form class="extend" action="/supplier/order/extend/{{ order.id }}" method="post" style="visibility: hidden">
                                <table class="table table-hover issue-tracker checkbox-container order-row">
                                    <tbody>
                                    <tr>
                                        <td>
                                            {% if order.status == open %}
                                                <button name="submit" type="submit" value="submit" class="btn btn-primary">Добавить в заявку</button>
                                            {% endif %}
                                        </td>
                                        <td></td><td></td><td></td><td></td><td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.item-search').on('input', e => {

            let list = $(e.target).parent().find('.float-list');

            list.find('li').remove();

            if ($(e.target).val().length >= 3) {

                $.ajax({
                    url: "/critical/items",
                    data: {str: $(e.target).val(), id: $(e.target).data('id')},

                    success: (json) => {

                        let items = JSON.parse(json);
                        items.map(e => {
                            list.append(`<li data-image=${e.image} data-id=${e.id} data-name="${e.name}" data-cur=${e.cur} data-min=${e.min} data-supplier="${e.supplier}"><span>${e.name}</span></li>`);
                        });
                        list.addClass('show');
                    }
                });
            }
        });

        $('.float-list').on('click', 'li', e => {

            let list = $(e.target).parents('.float-list');
            let i = $(e.target).closest('li').data();

            $('.extend').css({visibility: "visible"});

            $('.order-row').prepend(`<tr>
                 <td><img style="max-width: 50px" src="/files/mini/${i.image}" alt=""></td>
                 <td><a href="/product/edit/${i.id}">${i.name}</a></td>
                 <td><input name="count[${i.id}][]" type="text" class="form-control" placeholder="количество"></td>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>`);

            list.find('li').remove();
            list.hide();
        });

        $(document).on('click', 'button.btn-danger', e => {
            $(e.target).parent().parent().remove();
        });
    </script>
{% endblock %}