<h1>#Словари</h1>

<div class="cont">
    <form action="">
        <table class="std_table">
            <tr>
                <td>Название</td>
                <td>Алиас(авто)</td>
                <td>Тип значения</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><input name="dictionary_name" type="text" placeholder="Новый словарь" value="Новый словарь"></td>
                <td><input name="dictionary_alias" type="text" placeholder="" value=""></td>
                <td>
                    <select name="dictionary_type">
                        {% for i in fields %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td><button type="button" class="btn" data-event="d_new">Добавить</button></td>
            </tr>
            {% if dictionary is not empty %}
                {% for i in dictionary %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.alias }}</td>
                        <td>
                            {% for j in fields %}
                                {% if j.id == i.type %}
                                    {{ i.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><button type="button" class="btn" data-event="d_show" id="{{ i.id }}">Просмотр</button></td>
                        <td><button type="button" class="btn" data-event="d_remove" id="{{ i.id }}">Удалить</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </form>
</div>
