{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <a class="btn btn-primary" href="/client/create">Добавить клиента</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-hover issue-tracker checkbox-container">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Название</th>
                                    <th>Юр.лицо/ИП</th>
                                    <th>Последний заказ</th>
                                    <th>Контакты</th>
                                    <th>Личный кабинет</th>
                                </tr>
                                    {% for i in clients %}
                                        <tr>
                                            <td>{{ i.id }}</td>
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.company }}</td>
                                            <td>{{ i.lastOrder | date('d.m.Y') }}</td>
                                            <td>{{ i.phone }}, {{ i.email }}</td>
                                            <td><a class="btn btn-primary" href="/client/cabinet/{{ i.id }}">Просмотр</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    {{ dump(clients) }}#}
{% endblock %}