{% extends 'layout.twig' %}
{% block content %}
    <div class="row">
{#        <h2 class="index-head">Наша продукция</h2>#}
        <div class="bread">
            <h4>НАША ПРОДУКЦИЯ</h4>
            <div class="phone-book"><a href="/korzina-tovarov/">Корзина товаров</a></div>
        </div>
        {% if sub_category is not empty %}
            <ul class="index-catalog category">
                {% for i in sub_category %}
                    <li>
                        <span class="product">
                            <a href="{{ path }}/{{ i.alias }}">
                                <div class="img">
                                    <img class="image" src="/files/{{ i.image }}" alt="">
                                </div>
                                <span class="name">{{ i.name }}</span>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="clear"></div>
        <ul class="index-catalog product">
            {% for i in products %}
                <li>
                    <span class="product">
                        <a href="{{ path }}/{{ i.alias }}">
                            <div class="img">
                                <img class="image" src="/files/{{ i.image }}" alt="">
                            </div>
                            <span class="name">{{ i.name }}</span>
                        </a>
                        <span class="price">Цена: <i>123.5 руб.</i></span>
                        <span class="count">
                            <span class="price-cont">
                                <input type="text" value="50">
                                <span class="plus">+</span>
                                <span class="minus">-</span>
                            </span>
                        </span>
                        <span class="cart-add">в корзину</span>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
    {{ path }}
    {{ dump() }}
{% endblock %}
