{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="slider-cont">
            <div class="index-slider">
                {% for i in slider %}
                    <div class="slide" style="object-fit: cover"><a href="{{ i.link }}"><img src="/files/{{ i.image }}" alt=""></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="index-head">Наша продукция</h2>
        <ul class="index-catalog main">
            {% for i in our_product %}
                <li>
                    <a href="/gallery/{{ i.alias }}">
                        <img src="/files/{{ i.image }}" alt="">
                        <p>{{ i.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
{% endblock %}