{% extends 'layout.twig' %}
{% block content %}
    <div class="product-single">
        <div class="product">
            <div class="left">
                <img src="/files/{{ product.image }}" alt="">
            </div>
            <div class="right">
                <h1 class="name">{{ product.name | raw }}</h1>
                <div class="article">Артикул: {{ product.article }}</div>
                <div class="price">Цена за 1 шт. <i>{{ product.price_site }} руб.</i></div>
                <span class="count">
                    <span class="price-cont count-container">
                        <input data-product="{{ product.id }}" class="count-value" type="text" value="{{ product.getPackCount().value }}" data-multiply-value="{{ product.getPackCount().value }}">
                        <span class="plus count-plus-btn" data-plus-value="{{ product.getPackCount().value }}">+</span>
                        <span class="minus count-minus-btn" data-minus-value="{{ product.getPackCount().value }}">-</span>
                    </span>
                </span>
                <div class="cart-add">в корзину</div>
                <i class="in-cart" style="margin-top: 0">Добавлено в <a href="/korzina-tovarov">корзину</a></i>
                <div class="params">
                    <div class="shop_param"><span class="td_fir"><span>Количество товара в коробке</span></span><span
                                class="shop_param_value">500 штук</span></div>
                    <div class="shop_param"><span class="td_fir"><span>Количество товара в упаковке</span></span><span
                                class="shop_param_value">25 шт.</span></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product">
            <div class="params-name">Характеристики:</div>
            <div class="params">
                <div class="shop_param"><span class="td_fir"><span>Количество товара в коробке</span></span><span
                            class="shop_param_value">500 штук</span></div>
                <div class="shop_param"><span class="td_fir"><span>Количество товара в упаковке</span></span><span
                            class="shop_param_value">25 шт.</span></div>
            </div>
        </div>
    </div>
    <div class="bread">
        <h1>С ЭТИМ ТОВАРОМ ОБЫЧНО ПОКУПАЮТ</h1>
    </div>
    <ul class="index-catalog product">
        {% for i in similar %}
            <li>
            <span class="product">
                <a href="{{ path }}/{{ i.alias }}">
                    <div class="img">
                        <img class="image" src="/files/mini/{{ i.image }}" alt="">
                    </div>
                    <span class="name">{{ i.name | raw }}</span>
                </a>
                <span class="price">Цена: <i>{{ i.price_site }} руб.</i></span>
                <span class="count">
                    <span class="price-cont count-container">
                        <input data-product="{{ i.id }}" class="count-value" type="text" value="{{ i.getPackCount().value }}" data-multiply-value="{{ i.getPackCount().value }}">
                        <span class="plus count-plus-btn" data-plus-value="{{ i.getPackCount().value }}">+</span>
                        <span class="minus count-minus-btn" data-minus-value="{{ i.getPackCount().value }}">-</span>
                    </span>
                </span>
                <span class="cart-add">в корзину</span>
                <i class="in-cart">Добавлено в <a href="/korzina-tovarov">корзину</a></i>
            </span>
            </li>
        {% endfor %}
    </ul>

    <div class="clear"></div>
{% endblock %}