{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <form action="/order/edit/{{ order.id }}" method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Заказ № {{ order.number }}</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <a class="btn btn-sm btn-primary" href="#">Добавить товар</a>
                                <a class="btn btn-sm btn-primary" target="_blank" href="/document/order/{{ order.id }}">Товарная накладная</a>
                                <a class="btn btn-sm btn-primary" target="_blank" href="/document/account/{{ order.id }}">Бухгалтерская накладная</a>
                                <a class="btn btn-sm btn-primary sticker-btn" target="_blank" data-order="{{ order.id }}" href="/document/sticker/{{ order.id }}/1">Этикетки</a>
                                <input type="text" class="form-control sticker-count" style="width: 50px; display: inline-block">
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-hover issue-tracker checkbox-container">
                                    <tbody>
                                    <tr>
                                        <th></th>
                                        <th>Название</th>
                                        <th>На складе</th>
                                        <th>Резерв</th>
                                        <th>В заказе</th>
                                        <th>Цена</th>
                                        <th>Скидка</th>
                                        <th>Итоговая цена</th>
                                        <th>Сумма</th>
                                        <th></th>
                                    </tr>
                                    {% for i in items %}
                                        <tr>
                                            <td><img style="max-width: 50px; max-height: 50px" src="/files/mini/{{ i.getProduct.image }}" alt=""></td>
                                            <td>{{ i.getProduct.name | raw }}</td>
                                            <td>{{ i.getProduct.countCurrent.value }}</td>
                                            <td>{{ i.getProduct.countReserve.value }}</td>
                                            <td><input name="product[{{ i.getProduct.id }}][count]" style="width: 75px" type="text" class="form-control" value="{{ i.product_count }}"></td>
                                            <td><input name="product[{{ i.getProduct.id }}][price_one]" style="width: 75px" type="text" class="form-control" value="{{ i.getProduct.getPrice }}"></td>
                                            <td><input name="product[{{ i.getProduct.id }}][discount]" style="width: 75px" type="text" class="form-control" value="{{ i.price_discount }}"></td>
                                            <td><input name="product[{{ i.getProduct.id }}][price_one_total]" style="width: 75px" type="text" class="form-control" value="{{ i.price_with_discount }}"></td>
                                            <td><input name="product[{{ i.getProduct.id }}][price_all]" style="width: 75px" type="text" class="form-control" value="{{ i.price_row_total }}"></td>
                                            <td><a class="btn btn-danger" href="/order/edit/{{ order.number }}/remove/{{ i.getProduct.id }}">X</a></td>
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td><h3>Итого: {{ total | number_format(2, '.', ' ')  }} руб.</h3></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
{#                    <label for="">Отправить транспортной компанией</label>#}
{#                    <select name="delivery_company" id="" class="form-control">#}
{#                            <option value="0">Выберите из списка</option>#}
{#                        {% for i in delivery_company %}#}
{#                            <option {% if i.id == order.delivery_company %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                    <label for="">Самовывоз</label>#}
{#                    <select name="delivery_self" id="" class="form-control">#}
{#                            <option value="0">Выберите из списка</option>#}
{#                        {% for i in delivery_self %}#}
{#                            <option {% if i.id == order.delivery_self %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
                    <label for="">Число мест</label>
                    <input type="text" class="form-control" value="{{ order.getDetail.sticker }}" name="sticker">
                </div>
                <div class="col-sm-4">
                    <label for="">Статус склада</label>
                    <select name="status_warehouse" id="" class="form-control">
                        <option value="0">Выберите</option>
                        {% for i in status_warehouse %}
                            <option {% if i.id == order.status_warehouse %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
{#                    {% if global.user.isManager %}#}
{#                    <label for="">Статус офиса</label>#}
{#                    <select name="status_office" id="" class="form-control">#}
{#                        <option value="0">Выберите</option>#}
{#                        {% for i in status_office %}#}
{#                            <option {% if i.id == order.status %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                    {% else %}#}
{#                        <input type="hidden" name="status_office" value="{{ order.status }}">#}
{#                    {% endif %}#}
                </div>
                <div class="col-sm-4">
{#                    <label for="">Менеджер</label>#}
{#                    <select name="manager" id="" class="form-control">#}
{#                        <option value="0">Выберите из списка</option>#}
{#                        {% for i in users %}#}
{#                            <option {% if i.id == order.manager %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
                    <label for="">Комплектовщик</label>
                    <select name="packing" id="" class="form-control">
                        <option value="0">Выберите из списка</option>
                        {% for i in users %}
                            <option {% if i.id == order.packing %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label>Привязать к клиенту</label>
                    <input data-order="{{ order.id }}" class="form-control" name="client_search" type="text" value="{{ order.clientName }}" placeholder="поиск...">
                    <ul class="float-list client"></ul>
                </div>
                <div class="col-sm-4">
                    <label>ФИО или название компании</label>
                    <input class="form-control" name="company_name" type="text" value="{{ order.getDetail.name }}">
                </div>
                <div class="col-sm-4">
                    <label>E-mail</label>
                    <input class="form-control" name="email" type="text" value="{{ order.getDetail.email }}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label>Контактные телефоны (с кодом города)</label>
                    <input class="form-control" name="phone" type="text" value="{{ order.getDetail.phone }}">
                </div>
                <div class="col-sm-4">
                    <label>Дата доставки (когда Вам нужна поставка)</label>
                    <input class="form-control" name="delivery_date" type="text"  value="{{ order.getDetail.delivery_date }}">
                </div>
                <div class="col-sm-4">
                    <label>Время работы Вашей компании</label>
                    <input class="form-control" name="work_time" type="text" value="{{ order.getDetail.work_time }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Индекс</label>
                    <input class="form-control" name="index" type="text" value="{{ order.getDetail.address_index }}">
                </div>
                <div class="col-sm-4">
                    <label>Город</label>
                    <input class="form-control" name="city" type="text" value="{{ order.getDetail.city }}">
                </div>
                <div class="col-sm-4">
                    <label>Улица, проспект и пр</label>
                    <input class="form-control" name="street" type="text" value="{{ order.getDetail.street }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Номер дома</label>
                    <input class="form-control" name="house" type="text" value="{{ order.getDetail.house }}">
                </div>
                <div class="col-sm-4">
                    <label>Корпус</label>
                    <input class="form-control" name="block" type="text" value="{{ order.getDetail.block }}">
                </div>
                <div class="col-sm-4">
                    <label>Квартира, офис</label>
                    <input class="form-control" name="office" type="text" value="{{ order.getDetail.office }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <label>Комментарий к заказу</label>
                    <input disabled class="form-control" name="office" type="text" value="{{ order.getDetail.advanced }}">
                </div>
                <div class="col-sm-4">
                    <label>Способ оплаты</label>
                    <input disabled class="form-control" name="office" type="text" value="{% if order.getDetail.payment_type == 'online' %}На расчетный счет компании{% else %}Наличными курьеру{% endif %}">
                </div>
            </div>

            <div class="row">
{#                <div class="col-sm-6">#}
{#                </div>#}
{#                <div class="col-sm-6">#}
{#                    <label>Способ оплаты:</label>#}
{#                    <br>#}
{#                    <label><b>На расчетный счет компании</b></label>#}
{#                    <br>#}
{#                    <input {% if order.getDetail.payment_type == 'online' %}checked{% endif %} class="" name="payment_type" type="radio" value="online">#}
{#                    <br>#}
{#                    <label><b>Наличными курьеру</b></label>#}
{#                    <br>#}
{#                    <input {% if order.getDetail.payment_type == 'cash' %}checked{% endif %} class="" name="payment_type" type="radio" value="cash">#}
{#                    <br>#}
{#                    <label>Дополнительно:</label>#}
{#                    <textarea class="form-control" name="comment" id="" cols="10" rows="5" >{{ order.getDetail.advanced }}</textarea>#}
{#                </div>#}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <button name="submit" value="submit" type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $('.sticker-count').on('input', e => {

            let a = $('.sticker-btn');

            a.attr('href', `/document/sticker/${a.data('order')}/${parseInt($(e.target).val())}`);
        })

        $('[name=client_search]').on('input', e => {

            if ($(e.target).val().length >= 3) {

                $.ajax({
                    url: "/order/getClient",
                    data: {str: $(e.target).val()},
                    success: (json) => {

                        let list = $('.float-list.client');

                        let items = JSON.parse(json);

                        list.find('li').remove();
                        items.map(e => {
                            list.append(`<li id=${e.user_id}>[${e.user_id}] <span>${e.name}</span></li>`);
                        });
                        list.addClass('show');
                    }
                });
            }
        });

        $('.float-list.client').on('click', 'li', e => {

            let list = $('.float-list.client');
            let id = parseInt($(e.target).closest('li').attr('id'));
            let order = $('[name=client_search]').data('order');

            // list.find('li').remove();
            // list.hide();

            $.ajax({
                url: "/order/setClient",
                data: {
                    client: id,
                    order: order
                },
                success: (r) => {
                    window.location.reload()
                }
            });
        });
    </script>
{% endblock %}