{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Фильтр</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form action="/order" role="form" class="form-inline">
                            <div class="form-group" style="width: 15%"><input value="{{ filter.from }}" name="from" type="date" class="form-control" placeholder="С"></div>
                            <div class="form-group" style="width: 15%"><input value="{{ filter.to }}" name="to" type="date" class="form-control" placeholder="По"></div>
                            <div class="form-group" style="width: 15%"><input value="{{ filter.number }}" name="number" type="text" class="form-control" placeholder="Номер"></div>
                            <div class="form-group" style="width: 15%">
                                <select name="status" class="form-control" style="width: 100%">
                                    <option value="0">Статус</option>
                                    {% for i in filter_status %}
                                        <option {% if i.id == filter.status %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group" style="width: 20%"><input value="{{ filter.client }}" name="client" type="text" class="form-control" placeholder="Покупатель"></div>
                            <div class="form-group" style="width: 8%"><button style="margin-top: 0; margin-right: 5px" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Фильтровать</strong></button></div>
                            <div class="form-group" style="width: 8%"><a style="margin-top: 0; margin-right: 5px" class="btn btn-sm btn-primary pull-right m-t-n-xs" href="/order"><strong>Сбросить</strong></a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <span class="">Заказов сегодня &nbsp;<label class="label label-success">15 шт.</label></span>
                        &nbsp;
                        <span class="">Сумма заказов сегодня &nbsp;<label class="label label-success">15000 руб.</label></span>
                        &nbsp;
                        <span class="">Сумма заказов месяц &nbsp;<label class="label label-success">15000 руб.</label></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div>
                            <a class="btn btn-sm btn-primary" href="#">Новые</a>
                            <a class="btn btn-sm btn-primary" href="#">Просроченные</a>
                            <a class="btn btn-sm btn-primary" href="#">За сегодня</a>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover issue-tracker checkbox-container">
                                <tbody>
                                <tr>
                                    <th>Дата</th>
                                    <th>Номер</th>
                                    <th>Статус заказа</th>
                                    <th>Статус склада</th>
                                    <th>Итого</th>
                                    <th>Клиент</th>
                                    <th>Статус</th>
                                    <th>Отсрочка</th>
                                    <th>Адрес</th>
                                </tr>
                                {% for i in orders %}
                                    <tr>
                                        <td><a href="/order/edit/{{ i.id }}">{{ i.created | date('d-m-Y H:i') }}</a></td>
                                        <td>{{ i.number }}</td>
                                        <td><b class="label label-success" style="background-color: {{ i.getStatus.color }}">{{ i.getStatus.name }}</b></td>
                                        <td><b class="label label-success" style="background-color: {{ i.getStatusWarehouse.color }}">{{ i.getStatusWarehouse.name }}</b></td>
                                        <td>{{ i.getTotalPrice | number_format(2, '.', ' ') }}</td>
                                        <td style="width: 15%">{{ i.getClient }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pagination">
            {{ pagination.render }}
        </div>
    </div>
{% endblock %}