<h1>#Просмотр: {{ form.name }}</h1>

<div class="cont">
    {% for i in fields %}
        <div class="form">
            <label for="">{{ i.canonical }}</label>
            {% if i.type == type.text() %}
                <input type="text" name="{{ i.name }}">
            {% elseif i.type = type.textarea() %}
                <textarea name="{{ i.name }}" id="" cols="30" rows="100"></textarea>
            {% elseif i.type = type.file() %}
                <input type="file" name="{{ i.name }}">
            {% elseif i.type = type.check() %}
                <input type="checkbox" name="{{ i.name }}">
            {% elseif i.type = type.select() %}
                <input type="radio" name="{{ i.name }}">
            {% elseif i.type = type.hidden() %}
                <input type="hidden" name="{{ i.name }}">
            {% elseif i.type = type.password() %}
                <input type="password" name="{{ i.name }}">
            {% elseif i.type = type.list() %}
                {{ set opts = i.params | split(';') }}
                <select name="{{ i.name }}" id="">
                    {% for j in opts %}
                        <option value="{{ j }}">{{ j }}</option>
                    {% endfor %}
                </select>
            {% elseif i.type = type.date() %}
                <input type="date" name="{{ i.name }}">
            {% elseif i.type = type.datetime() %}
                <input type="datetime-local" name="{{ i.name }}">
            {% else %}
            {% endif %}
        </div>
    {% endfor %}
</div>
