{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div>
                            <a class="btn btn-sm btn-primary print-price" href="#">bla</a>
                            <a class="btn btn-sm btn-primary" href="/product/create">bla</a>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover issue-tracker checkbox-container">
                                <tbody>
                                    <tr>
                                        <th style="width: 20%">CANONICAL</th>
                                        <th style="width: 15%">TABLE</th>
                                        <th style="width: 35%">ROUTE</th>
                                        <th style="width: 20%">TEMPLATE</th>
                                        <th style="width: 5%">FIELDS</th>
                                        <th style="width: 5%">VARS</th>
                                        <th>SAVE</th>
                                    </tr>
                                </tbody>
                            </table>
                            {% for i in content %}
                                <form action="/content/save/{{ i.id }}" method="post">
                                    <table class="table table-hover issue-tracker checkbox-container">
                                        <tbody>
                                        <tr>
                                            <td style="width: 20%"><a href="/content/{{ i.id }}">{{ i.canonical }}</a></td>
                                            <td style="width: 15%"><a href="">{{ i.table }}</a></td>
                                            <td style="width: 35%"><input value="{{ i.route }}" name="route" type="text" class="form-control"></td>
                                            <td style="width: 20%"><input value="{{ i.template }}" name="template" type="text" class="form-control"></td>
                                            <td style="width: 5%"><a href="/content/fields/create/{{ i.id }}" class="btn btn-{% if i.getFields() %}primary{% else %}danger{% endif %}">[ ]</a></td>
                                            <td style="width: 5%"><a href="{% if i.getFields() %}/content/vars/{{ i.id }}{% else %}#{% endif %}" class="btn btn-{% if i.getFields() %}primary{% else %}danger{% endif %}">[ ]</a></td>
                                            <td><button name="submit" value="submit" type="submit" class="btn btn-primary">[ ]</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            {% endfor %}
                            <form action="/content/save" method="post">
                                <table class="table table-hover issue-tracker checkbox-container">
                                    <tbody>
                                    <tr>
                                        <td style="width: 20%"><input name="canonical" type="text" class="form-control"></td>
                                        <td style="width: 15%"><input name="table" type="text" class="form-control"></td>
                                        <td style="width: 35%"><input name="route" type="text" class="form-control"></td>
                                        <td style="width: 20%"><input name="template" type="text" class="form-control"></td>
                                        <td style="width: 5%"></td>
                                        <td style="width: 5%"></td>
                                        <td><button name="submit" value="submit" type="submit" class="btn btn-primary">[ ]</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}