<h1>#Импорт данных</h1>

<div class="cont">
    <form action="">
        <table class="std_table">
            <tr>
                <td>Название</td>
                <td>Тип данных</td>
                <td>Таблица для записи</td>
                <td>Изменено</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input name="name" type="text" placeholder="Название" value="Новая выгрузка">
                </td>
                <td>
                    <select name="type">
                        <option value="XML">XML</option>
                    </select>
                </td>
                <td>
                    <select name="table">
                        {% for i in tables %}
                            <option value="{{ i.alias }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn" data-event="import_new">Сохранить</button></td>
            </tr>
            {% if import is not empty %}
                {% for i in import %}
                    <tr>
                        <td>
                            <input type="text" value="{{ i.name }}">
                        </td>
                        <td>
                            <select>
                                <option value="{{ i.type }}">{{ i.type }}</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option value="{{ i.table }}">{{ i.table }}</option>
                            </select>
                        </td>
                        <td>
                            {% if i.modified is not empty %}
                                {{ i.modified | date('d m Y H:i') }}
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="btn" data-event="import_begin" id="{{ i.id }}">Импорт</button>

                        </td>
                        <td>
                            <button type="button" class="btn" data-event="import_delete" id="{{ i.id }}">Удалить</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </form>
</div>
