<h1>Импорт данных в {{ set.name }}</h1>

<div class="cont">
    <table class="std_table import">
        <tr>
            <td>Название тега</td>
            <td>Значение</td>
            <td>Поля в таблице</td>
            <td>Тег для записи</td>
        </tr>
    </table>
    <form action="" method="post" name="import">
        <table class="std_table import">
            <tr>
                <td>
                    <table>
                        {% for k, v in tags %}
                            <tr>
                                <td><button type="button" class="btn" data-event="import_select_tag" id="{{ k }}">{{ k }}</button></td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td><input type="text" placeholder="NEW TAG NAME"></td>
                            <td><button type="button" class="btn" data-event="import_add_tag">+</button></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        {% for i in columns %}
                            {% set exist = false %}
                            <tr>
                                <td><button type="button" class="btn" data-event="import_assign_tag" id="{{ i }}">{{ i }}</button></td>
                                {% if saved is not empty %}
                                    {% for f in saved if exist == false %}
                                        {% if f.key == i %}
                                            {% set exist = true %}
                                                <td><input type="text" name="{{ i }}" value="{{ f.column }}"></td>
                                        {% endif %}
                                    {% endfor %}

                                    {% if exist == false %}
                                        <td><input type="text" name="{{ i }}" value=""></td>
                                    {% endif %}

                                {% else %}
                                    <td><input type="text" name="{{ i }}" value=""></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="cont">
    <table class="std_table">
        <tr>
            <td><button type="button" class="btn" data-event="import_save" id="{{ set.id }}">СОХРАНИТЬ НАСТРОЙКИ</button></td>
            <td><button type="button" class="btn" data-event="import_execute_add" id="{{ set.id }}">ЗАГРУЗИТЬ ВСЕ</button></td>
            <td><button type="button" class="btn" data-event="import_update_setup" id="{{ set.id }}">ОБНОВИТЬ</button></td>
            <td><button type="button" class="btn" data-event="import_execute_drop_add" id="{{ set.id }}">УДАЛИТЬ ВСЕ И ЗАГРУЗИТЬ</button></td>
        </tr>
    </table>
</div>
