<h1>#Добавить подраздел в {{ category.name }}</h1>

<div class="cont">
    <div class="save_category">
        <div class="lft">
            <form action="" method="post">
                <input type="text" name="name" placeholder="Название">
                <input type="text" name="alias" placeholder="Алиас(авто)">
                <select name="template" id="">
                    <option value="">Шаблон</option>
                    {% for i in templates %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="image" placeholder="Изображение">
                <textarea name="description" id="" cols="30" rows="10" placeholder="Описание"></textarea>
                <button type="button" data-event="category_save" class="btn" id="{{ category.id }}_category_save">СОХРАНИТЬ</button>
            </form>
        </div>
        <div class="rgt">
            <ul>
                {% if tree is not empty %}
                    {% for i in tree %}
                        {% if i.id == category.id %}
                            <li style="padding-left: {{ i.level * 20 }}px">{{ i.alias }}</li>
                            <li class="green" style="padding-left: {{ i.level * 20 + 20 }}px">placeholder</li>
                        {% else %}
                            <li style="padding-left: {{ i.level * 20 }}px">{{ i.alias }}</li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{{ dump() }}