<h1>#Настройка полей: "{{ category.name }}"</h1>

<div class="cont">
    <table class="setup_category">
        <tr>
            <td id="fieldset">
                <form action="/admin/category/complete/" id="fields" method="post">
                    <div class="inline-input">
                        <div class="form-single">
                            <select name="FieldType[]">
                                <option value="1" selected>По умолчанию</option>
                            </select>
                            <select name="DataType[]">
                                <option value="1" selected>По умолчанию</option>
                            </select>
                            <input type="text" name="canonical[]" placeholder="Название" value="Название">
                            <input type="text" name="alias[]" placeholder="Алиас"  value="name">
                            <input type="text" name="params[]" placeholder="Параметры(;)">
                        </div>
                    </div>

                    <div class="inline-input">
                        <div class="form-single">
                            <select name="FieldType[]">
                                <option value="1" selected>По умолчанию</option>
                            </select>
                            <select name="DataType[]">
                                <option value="1" selected>По умолчанию</option>
                            </select>
                            <input type="text" name="canonical[]" placeholder="Название" value="Алиас">
                            <input type="text" name="alias[]" placeholder="Алиас"  value="alias">
                            <input type="text" name="params[]" placeholder="Параметры(;)">
                        </div>
                    </div>
                </form>
            </td>
            <td id="typeset">
                {% for i in fields %}
                    <button type="button" data-event="category_setup_add_field" class="btn" id="{{ i.id }}_add" value="{{ i.alias }}">{{ i.name }}</button>
                {% endfor %}
            </td>
        </tr>
    </table>

    <table class="setup_category">
        <tr>
            <td><button type="button" data-event="category_setup_save" style="width: 100%" class="btn" id="{{ category.id }}_complete">СОХРАНИТЬ</button></td>
        </tr>
    </table>
</div>

<div id="set" style="display: none">
    <div class="inline-input">
        <div class="form-single">
            <select name="FieldType[]">Тип поля
                {% for i in fields %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>

            <select name="DataType[]">Тип данных
                {% for i in datatype %}
                    <option value="{{ i.type }}">{{ i.name }}</option>
                {% endfor %}
            </select>

            <input type="text" name="canonical[]" placeholder="Название поля">
            <input type="text" name="alias[]" placeholder="Алиас(авто)">
            <input type="text" name="params[]" placeholder="Параметры(;)">
            <button data-event="category_setup_remove_field" class="btn" type="button">&ndash;</button>
        </div>
    </div>
</div>
