<h1>#Лог приложения</h1>

<div class="cont">
    <div class="log">
        <table>
            <tr>
                <td>ID</td>
                <td>Пользователь</td>
                <td>Текст</td>
                <td>Создано</td>
                <td>IP</td>
            </tr>
            {% if log is not empty %}
                {% for i in log %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.user }}</td>
                        <td>{{ i.message }}</td>
                        <td>{{ i.date | date('d-m-Y H:i') }}</td>
                        <td>{{ i.ip }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
