{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <form action="{{ formAction }}" method="post" enctype="multipart/form-data">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ product.name | raw }}</h5>
                </div>
                <div class="ibox-content">
                    <h3>Карточка товара</h3>
                    <br>
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group"><label class="col-sm-4 control-label">Название</label>
                                <div class="col-sm-8"><input name="name" value="{{ product.name | raw }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group has-warning"><label class="col-sm-4 control-label">Цена на сайте за 1 шт</label>
                                <div class="col-sm-8"><input value="{{ product.price_site }}" name="price_site" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Цена на сайте опт.</label>
                                <div class="col-sm-2"><input name="price_site_opt" value="{{ product.price_site_opt }}" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">От</label>
                                <div class="col-sm-2"><input name="price_site_opt_count[value]" value="{{ product.getPriceSiteOptCount.value }}" type="text" class="form-control"></div>
                                <div class="col-sm-2">
                                    <select class="form-control m-b" name="price_site_opt_count[key]">
                                        {% for i in dictionary %}
                                            <option value="{{ i.id }}" {% if product.getPriceSiteOptCount.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Количество на складе</label>
                                <div class="col-sm-6"><input value="{{ product.countCurrent.value }}" name="count_current[value]" type="text" class="form-control"></div>
                                <div class="col-sm-2">
                                    <select class="form-control m-b" name="count_current[key]">
                                        {% for i in dictionary %}
                                            <option value="{{ i.id }}" {% if product.countCurrent.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Резерв</label>
                                <div class="col-sm-6"><input value="{{ product.countReserve.value }}" name="count_reserve[value]" type="text" class="form-control"></div>
                                <div class="col-sm-2">
                                    <select class="form-control m-b" name="count_reserve[key]">
                                        {% for i in dictionary %}
                                            <option value="{{ i.id }}" {% if product.countReserve.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-4 control-label">Критичный остаток</label>
                                <div class="col-sm-6"><input value="{{ product.countMinimal.value }}" name="count_minimal[value]" type="text" class="form-control"></div>
                                <div class="col-sm-2">
                                    <select class="form-control m-b" name="count_minimal[key]">
                                        {% for i in dictionary %}
                                            <option value="{{ i.id }}" {% if product.countMinimal.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group has-success"><label class="col-sm-4 control-label">Артикул</label>
                                <div class="col-sm-8"><input name="article" value="{{ product.article }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Категория</label>
                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="category">
                                        {% for root in category %}
                                            <option {% if root.id in product.categoryIds %} selected {% endif %} value="{{ root.id }}">{{ root.name }}</option>
                                            {% if root.extend %}
                                                {% for i in root.extend %}
                                                    <option {% if i.id in product.categoryIds %} selected {% endif %} value="{{ i.id }}">--{{ i.name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Дополнительная категория</label>
                                <div class="col-sm-8">
                                    <div class="col-lg-12 m-l-n">
                                        <select class="form-control" multiple name="category_extra[]" style="height: 200px">
                                            {% for root in category %}
                                                <option {% if root.id in product.categoryIds %} selected {% endif %} value="{{ root.id }}">{{ root.name }}</option>
                                                {% if root.extend %}
                                                    {% for i in root.extend %}
                                                        <option {% if i.id in product.categoryIds %} selected {% endif %} value="{{ i.id }}">--{{ i.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% if product.id %}
                                <a href="/product/sticker/{{ product.id }}" target="_blank" class="btn btn-primary" type="button">Печать этикетки</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group"><label class="col-sm-4 control-label">Контрагент</label>
                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="supplier">
                                        <option value="0">Выберите из списка</option>
                                        {% for i in supplier %}
                                            <option {% if product.productToSupplier.supplier.id == i.id %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Цена поставщика</label>
                                <div class="col-sm-8"><input name="price_supplier" value="{{ product.price_supplier }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Наименование у поставщика</label>
                                <div class="col-sm-8"><input name="supplier_product_name" value="{{ product.supplier_product_name }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Артикул поставщика</label>
                                <div class="col-sm-8"><input name="supplier_article" value="{{ product.supplier_article }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group has-error"><label class="col-sm-4 control-label">Дата поступления на склад поставщика</label>
                                <div class="col-sm-8"><input name="supplier_date_arrive" value="{{ product.supplier_date_arrive | date('Y-m-d') }}" type="date" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Товар временно отсутствует</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline">
                                        <input name="available" {% if product.available %} checked {% endif %} type="checkbox" value="option1" id="inlineCheckbox1">
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Отображать на сайте</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline">
                                        <input name="active" {% if product.active %} checked {% endif %} type="checkbox" value="option1" id="inlineCheckbox1">
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Изображение</label>
                                <div class="col-md-6">
                                    <div class="img-preview img-preview-sm" style="width: 200px; height: 200px">
                                        <img style="max-width: 200px; max-height: 200px" src="/files/{{ product.image }}" alt="">
                                    </div>
                                    <div class="btn-group">
                                        <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                            <input type="file" accept="image/*" name="image" id="inputImage" class="hide">
                                            Выбрать
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <h3>Особые свойства</h3>
                    <hr>
                    <br>
                    <div class="form-horizontal">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div class="i-checks"><label> <input name="share" type="checkbox" {% if product.share %} checked {% endif %}> <i></i> Акция </label></div>
                                    <div class="i-checks"><label> <input name="hit" type="checkbox" {% if product.hit %} checked {% endif %}> <i></i> Хит </label></div>
                                    <div class="i-checks"><label> <input name="new" type="checkbox" {% if product.new %} checked {% endif %}> <i></i> Новинка </label></div>
                                    <div class="i-checks"><label> <input name="kit" type="checkbox" {% if product.kit %} checked {% endif %}> <i></i> Цена за комплект </label></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div class="i-checks"><label><i></i> Теги, через запятую: </label></div>
                                    <input value="{{ product.tags }}" name="tags" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div class="i-checks"><label>  <i></i> Особые свойства: </label></div>
                                    {% for i in additional %}
                                        <div class="i-checks"><label> <input {% if i.id in additionals %} checked {% endif %} name="additional[{{ i.id }}]" type="checkbox"> {{ i.name }} </label></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-10">
                                <div class="i-checks"><label>  <i></i> Логотипирование: </label></div>
                                <div class="i-checks"><label> <input name="logo" type="checkbox" {% if product.logo %} checked {% endif %}> <i></i> Товар с логотипом </label></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <h3>Физические характеристики</h3>
                    <hr>
                    <div class="col-sm-6" style="padding: 0">
                        <div class="form-group"><label class="col-sm-4 control-label">Количество в упаковке</label>
                            <div class="col-sm-4"><input value="{{ product.getPackCount.value }}" name="pack_count[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="pack_count[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getPackCount.dictionaryField.id == i.id %} selected {% endif %} >{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Вес упаковки</label>
                            <div class="col-sm-4"><input value="{{ product.getPackWeight.value }}" name="pack_weight[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="pack_weight[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getPackWeight.dictionaryField.id == i.id %} selected {% endif %} >{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Объем упаковки</label>
                            <div class="col-sm-4"><input value="{{ product.getPackVolume.value }}" name="pack_volume[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="pack_volume[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getPackVolume.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding: 0">
                        <div class="form-group"><label class="col-sm-4 control-label">Количество в коробке</label>
                            <div class="col-sm-4"><input value="{{ product.getBoxCount.value }}" name="box_count[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="box_count[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getBoxCount.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Вес коробки</label>
                            <div class="col-sm-4"><input value="{{ product.getBoxWeight.value }}" name="box_weight[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="box_weight[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getBoxWeight.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Объем коробки</label>
                            <div class="col-sm-4"><input value="{{ product.getBoxVolume.value }}" name="box_volume[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="box_volume[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getBoxVolume.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="col-sm-6" style="padding: 0">
                        <div class="form-group"><label class="col-sm-4 control-label">Длина</label>
                            <div class="col-sm-4"><input value="{{ product.getLength.value }}" name="length[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="length[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getLength.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Ширина</label>
                            <div class="col-sm-4"><input value="{{ product.getWidth.value }}" name="width[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="width[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getWidth.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-4 control-label">Высота</label>
                            <div class="col-sm-4"><input value="{{ product.getHeight.value }}" name="height[value]" type="text" class="form-control"></div>
                            <div class="col-sm-4">
                                <select class="form-control m-b" name="height[key]">
                                    {% for i in dictionary %}
                                        <option value="{{ i.id }}" {% if product.getHeight.dictionaryField.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Описание товара</label>
                            <textarea name="description" id="" cols="30" rows="10" class="form-control">{{ product.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Материал</label>
                            <input name="material" value="{{ product.material }}" type="text" class="form-control">
                            <label class="control-label">Цвет</label>
                            <input name="color" value="{{ product.color }}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <input class="btn btn-primary" type="submit" name="submit" value="Сохранить изменения">
                    <a href="/product/" class="btn btn-primary" type="submit">Назад в каталог</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}