{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <form action="{{ formAction }}" method="post" enctype="multipart/form-data">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <br>
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group"><label class="col-sm-4 control-label">Название</label>
                                <div class="col-sm-8"><input name="name" value="{{ product.name }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Артикул</label>
                                <div class="col-sm-3"><input name="article" value="{{ product.article }}" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">Цена за шт</label>
                                <div class="col-sm-3"><input value="{{ product.price_site }}" name="price_site" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Цена на сайте опт.</label>
                                <div class="col-sm-3"><input name="price_site_opt" value="{{ product.price_site_opt }}" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">От, шт</label>
                                <div class="col-sm-3"><input name="price_site_opt_count" value="{{ product.price_site_opt_count }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Количество на складе</label>
                                <div class="col-sm-3"><input value="{{ product.count_current }}" name="count_current" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">Резерв</label>
                                <div class="col-sm-3"><input value="{{ product.count_reserve }}" name="count_reserve" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Критичный остаток</label>
                                <div class="col-sm-3"><input value="{{ product.count_minimal }}" name="count_minimal" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Категории</label>
                                <div class="col-sm-8"><br>
                                    <select style="height: 100px; margin-top: -15px" class="form-control" multiple name="category_extra[]" style="height: 200px">
                                        {% for root in category %}
                                            <option {% if root.id in product.categoryIds %} selected {% endif %} value="{{ root.id }}">{{ root.name }}</option>
                                            {% if root.extend %}
                                                {% for i in root.extend %}
                                                    <option {% if i.id in product.categoryIds %} selected {% endif %} value="{{ i.id }}">--{{ i.name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Особоые свойства</label>

                            </div>
                            <div class="form-horizontal">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="i-checks"><label> <input name="share" type="checkbox" {% if product.share %} checked {% endif %}> <i></i> Акция </label></div>
                                            <div class="i-checks"><label> <input name="hit" type="checkbox" {% if product.hit %} checked {% endif %}> <i></i> Хит </label></div>
                                            <div class="i-checks"><label> <input name="new" type="checkbox" {% if product.new %} checked {% endif %}> <i></i> Новинка </label></div>
                                            <div class="i-checks"><label> <input name="kit" type="checkbox" {% if product.kit %} checked {% endif %}> <i></i> Цена за комплект </label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="i-checks"><label>  <i></i> Особые свойства: </label></div>
                                            {% for i in additional %}
                                                <div class="i-checks"><label> <input {% if i.id in additionals %} checked {% endif %} name="additional[{{ i.id }}]" type="checkbox"> {{ i.name }} </label></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-10">
                                        <div class="i-checks"><label>  <i></i> Логотипирование: </label></div>
                                        <div class="i-checks"><label> <input name="logo" type="checkbox" {% if product.logo %} checked {% endif %}> <i></i> Товар с логотипом </label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% if product.id %}
                                <a href="/product/sticker/{{ product.id }}" target="_blank" class="btn btn-primary" type="button">Печать этикетки</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <div class="form-group"><label class="col-sm-4 control-label">Контрагент</label>
                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="supplier">
                                        <option value="0">Выберите из списка</option>
                                        {% for i in supplier %}
                                            <option {% if product.productToSupplier.supplier.id == i.id %} selected {% endif %} value="{{ i.id }}">{{ i.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Наименование у поставщика</label>
                                <div class="col-sm-8"><input name="supplier_product_name" value="{{ product.supplier_product_name }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Цена поставщика</label>
                                <div class="col-sm-3"><input name="price_supplier" value="{{ product.price_supplier }}" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">Артикул</label>
                                <div class="col-sm-3"><input name="supplier_article" value="{{ product.supplier_article }}" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group has-error"><label class="col-sm-4 control-label">Дата поступления на склад поставщика</label>
                                <div class="col-sm-8"><input name="supplier_date_arrive" value="{{ product.supplier_date_arrive | date('Y-m-d') }}" type="date" class="form-control"></div>
                            </div>

                            <div class="form-group"><label class="col-sm-4 control-label">Товар временно отсутствует</label>
                                <div class="col-sm-3">
                                    <label class="checkbox-inline">
                                        <input name="available" {% if product.available %} checked {% endif %} type="checkbox" value="option1" id="inlineCheckbox1">
                                    </label>
                                </div>
                                <label for="inputValue" class="col-sm-2 control-label">Отображать на сайте</label>
                                <div class="col-sm-3">
                                    <label class="checkbox-inline">
                                        <input name="active" {% if product.active %} checked {% endif %} type="checkbox" value="option1" id="inlineCheckbox1">
                                    </label>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Теги, через запятую:</label>
                                <div class="col-sm-8"><input value="{{ product.tags }}" name="tags" type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Основное изображение</label>
                                <div class="col-md-6">
                                    <div class="img-preview img-preview-sm" style="width: 200px; height: 200px">
                                        <img style="max-width: 200px; max-height: 200px" src="/files/{{ product.image }}" alt="">
                                    </div>
                                    <div class="btn-group">
                                        <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                            <input type="file" accept="image/*" name="image" id="inputImage" class="hide">
                                            Выбрать
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-4 control-label">Дополнительные изображения</label>
                                <div class="col-md-6">
                                    <div class="img-preview img-preview-sm" style="width: 200px; height: 200px">
{#                                        {{ dump(product.advancedImages) }}#}
                                        {% for i in product.advancedImages %}
                                            <img style="max-width: 50px; max-height: 50px" src="/files/mini/{{ i.href }}" alt="">
                                            <a href="/product/edit/{{ product.id }}/deleteimage/{{ i.id }}" class="btn btn-danger" type="button">X</a>
                                            <br><br>
                                        {% endfor %}
                                    </div>
                                    <div class="btn-group">
                                        <label title="Upload image file" for="inputImages" class="btn btn-primary">
                                            <input type="file" multiple name="image_advanced[]" id="inputImages" class="hide">
                                            Выбрать
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                    <div class="col-sm-12" style="">
                        <div class="col-sm-6" style="">
                            <div class="form-group">
                                <label class="control-label">Физические характеристики</label>
                            </div>
                            <div class="form-group"><label class="col-sm-3 control-label">Количество в упаковке</label>
                                <div class="col-sm-3"><input value="{{ product.pack_count }}" name="pack_count" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-3 control-label">Количество в коробке</label>
                                <div class="col-sm-3"><input value="{{ product.box_count }}" name="box_count" type="text" class="form-control"></div>
                            </div>
                            <br>
                            <div class="form-group"><label class="col-sm-3 control-label">Вес упаковки, кг</label>
                                <div class="col-sm-3"><input value="{{ product.pack_weight }}" name="pack_weight" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-3 control-label">Вес коробки, кг</label>
                                <div class="col-sm-3"><input value="{{ product.box_weight }}" name="box_weight" type="text" class="form-control"></div>
                            </div>
                            <br>
                            <div class="form-group"><label class="col-sm-3 control-label">Объем упаковки, м3</label>
                                <div class="col-sm-3"><input value="{{ product.pack_volume }}" name="pack_volume" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-3 control-label">Объем коробки, м3</label>
                                <div class="col-sm-3"><input value="{{ product.box_volume }}" name="box_volume" type="text" class="form-control"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group"><label class="col-sm-2 control-label">Длина, см</label>
                                <div class="col-sm-2"><input value="{{ product.length }}" name="length" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">Ширина, см</label>
                                <div class="col-sm-2"><input value="{{ product.width }}" name="width" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">Высота, см</label>
                                <div class="col-sm-2"><input value="{{ product.height }}" name="height" type="text" class="form-control"></div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="">
                            <div class="form-group">
                                <label class="control-label">Описание товара</label>
                                <textarea name="description" id="" cols="30" rows="7" class="form-control">{{ product.description }}</textarea>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label">Материал</label>
                                <div class="col-sm-4"><input name="material" value="{{ product.material }}" type="text" class="form-control"></div>
                                <label for="inputValue" class="col-sm-2 control-label">Цвет</label>
                                <div class="col-sm-4"><input name="color" value="{{ product.color }}" type="text" class="form-control"></div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="clearfix"></div>
                    <br>
                    <input class="btn btn-primary" type="submit" name="submit" value="Сохранить изменения">
                    <a href="/product/" class="btn btn-primary" type="submit">Назад в каталог</a>
                    <a href="/product/delete/{{ product.id }}" class="btn btn-danger" type="submit">Удалить товар</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}