{% extends 'layout.twig' %}
{% block content %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Фильтр</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form action="/product" role="form" class="form-inline">
                            <div class="form-group">
                                <select class="form-control" name="category">
                                    <option value="">Категория</option>
                                    {% for root in category %}
                                        <option {% if root.id == filter.category %} selected {% endif %} value="{{ root.id }}">{{ root.name }}</option>
                                        {% if root.extend %}
                                            {% for i in root.extend %}
                                                <option {% if i.id == filter.category %} selected {% endif %} value="{{ i.id }}">--{{ i.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="supplier" class="form-control">
                                    <option value="">Поставщик</option>
                                    {% for i in supplier %}
                                        <option {% if filter.supplier == i.id %}selected{% endif %} value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input value="{{ filter.name }}" name="name" style="min-width: 150px" type="еуче" placeholder="Поиск по названию" class="form-control">
                            </div>
                            <a style="margin-top: 0; margin-right: 5px" class="btn btn-sm btn-primary pull-right m-t-n-xs" href="/product"><strong>Сбросить</strong></a>
                            <button style="margin-top: 0; margin-right: 5px" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Фильтровать</strong></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div>
                            <a class="btn btn-sm btn-primary print-price" href="#">Печатать ценники</a>
                            <a class="btn btn-sm btn-primary" href="/product/create">Добавить товар</a>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover issue-tracker checkbox-container">
                                <tbody>
                                <tr>
                                    <td><input class="checkbox-all" type="checkbox" value="0"></td>
                                    <td>Изображение</td>
                                    <td>Артикул</td>
                                    <td>Название</td>
                                    <td>Цена на сайте</td>
                                    <td>В упаковке</td>
                                    <td>В коробке</td>
                                    <td>Продажи за месяц</td>
                                    <td>За прошлый месяц</td>
                                    <td>Сортировать</td>
                                </tr>
                                {% for i in product %}
                                <tr class="category-row">
                                    <td>
                                        <input class="checkbox-check" type="checkbox" data-value="{{ i.id }}">
                                    </td>
                                    <td><img style="max-width: 50px; max-height: 50px" src="/files/mini/{{ i.image }}" alt=""></td>
                                    <td>{{ i.article }}</td>
                                    <td>
                                        <a style="color: #4e5153; " href="/product/edit/{{ i.id }}">{{ i.name | raw }}</a>
                                    </td>
                                    <td>{{ i.price_site }}</td>
                                    <td>{{ i.getPackCount().value }} {{ i.getPackCount().dictionaryField().name }}</td>
                                    <td>{{ i.getBoxCount().value }} {{ i.getBoxCount().dictionaryField().name }}</td>
                                    <td>{{ i.salesPerCurrentMonth }}</td>
                                    <td>{{ i.salesPerPastMonth }}</td>
                                    <td><input name="sorting" data-id="{{ i.id }}" style="width: 60px" class="form-control" type="text" value="{{ i.sort }}"></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex; justify-content: center">
            {{ pagination.render() }}
        </div>
    </div>
    <script>
        $('[name=sorting]').on('input', e => {

            $.ajax({
                url: "/product/sort",
                data: {
                    'id': parseInt($(e.target).data('id')),
                    'sort': parseInt($(e.target).val())
                }
            });
        })
    </script>
{% endblock %}