<h1>#Продукты</h1>

<div class="cont">
    <div class="mat">
        <table>
            {% if category is not empty %}
                {% for i in category if i.alias is not empty %}
                    <tr>
                        <td>{{ i.name }}( <span>id {{ i.id }}</span> )</td>
                        <td>
                            <button type="button" class="btn" data-event="material_new" id="{{ i.id }}">ДОБАВИТЬ МАТЕРИАЛ</button>
                        </td>
                        <td>
                            <button type="button" class="btn" data-event="material_show" id="{{ i.id }}">СПИСОК МАТЕРИАЛОВ</button>
                        </td>
                        <td>
                            <button type="button" class="btn" data-event="material_drop_all" id="{{ i.id }}">УДАЛИТЬ ВСЕ</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

